:root {
  --bg-color: #2F994B;
  --bg-logo: #078629;
  --bg-card: #D7A12D;
  --text-color: #ffefff;
  --btn-color: #B58826;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body header {
  background-color: var(--bg-logo);
  display: flex;
  padding: 30px 5%;
}

body header h1 {
  color: var(--text-color);
  font-size: 45px;
}

main {
  padding: 40px 5%;
}

main h2 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 40px;
  text-align:center;
}

.card {
  display: flex;
  gap: 50px; 
  flex-wrap: wrap; 
  justify-content: center;
}

.card-jogo{
  background-color: var(--bg-card);
  padding: 40px;
  color: #000;
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.card-jogo h3{
  font-size: 26px;
  font-weight: normal;
  margin-bottom: 5px;
}

.card-jogo h4{
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 25px;
}


.card-jogo p{
  display: inline-block; 
  margin: 0 10px;
}

.card-jogo input {
  width: 110px;
  height: 40px;
  border: none;
  padding: 10px;
  text-align: center;
  font-size: 16px;
}


.botao-palpite {
  background-color: var(--btn-color);
  color: #000;
  border: none;
  padding: 8px 35px;
  border-radius: 20px; 
  font-size: 16px;
  cursor: pointer;
  margin-top: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.botao-palpite:hover {
  filter: brightness(0.9);
}

footer {
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  font-size: 14px;
  margin-top: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
